@using DreamsHub.Models.Tipos
@model DreamsHub.ViewModels.AdicionarTransacaoViewModel

@{
    string corTexto = "green";
    if (Model.Transacao.Tipo == ETipoTransacao.Despesa.ToString())
    {
        corTexto = "red";
    }
}

<style>

    #modal-adicionar-transacao .material-icons{
        color: @corTexto;
    }
    
</style>

<div id="modal-adicionar-transacao" class="modal modal-fixed-footer  bottom-sheet left-sheet">
    @using (Html.BeginForm("Salvar", "Transacao", FormMethod.Get, 
                new { id = "form-transacao" }))
            {
        <div class="modal-content">
            <h4>Transação</h4>


            @Html.HiddenFor(l => l.Transacao.Id)
            @Html.HiddenFor(l => l.Transacao.Tipo)

            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">attach_money</i>
                    @Html.TextBoxFor(l => l.Transacao.Valor,
                        new { @class = "validate valorDecimal" })
                    @Html.LabelFor(l => l.Transacao.Valor, "Valor")
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">date_range</i>
                    
                    <input id="Transacao_Data" name="Transacao.Data" type="date" value="@Model.Transacao.Data.ToString("yyyy-MM-dd")">
                    @* @Html.TextBoxFor(l => l.Transacao.Data, *@
                    @*     new { @class = "datepicker", type = "date", value= Model.Transacao.Data.ToString("yyyy-MM-dd")}) *@
                    @Html.LabelFor(l => l.Transacao.Data, "Data")
                </div>

                <div class="input-field col s9">
                    <i class="material-icons prefix">description</i>
                    @Html.TextBoxFor(l => l.Transacao.Descricao,
                        new { @class = "validate" })
                    @Html.LabelFor(l => l.Transacao.Descricao, "Descrição")
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">credit_card</i>
                    @Html.TextBoxFor(l => l.Transacao.Parcelas,
                        new { @class = "validate", type = "number" })
                    @Html.LabelFor(l => l.Transacao.Parcelas, "Parcelas")
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">mode_edit</i>
                    @Html.DropDownListFor(l => l.Transacao.Categoria,
                        Model.CategoriasDropdown())
                    @Html.LabelFor(l => l.Transacao.Categoria,
                        "Categoria")
                </div>
                <div class="switch col s4" style="margin-top: 16px">
                    <label>
                        Pendente
                        <input type="checkbox" id="campo-status" value="true" name="Transacao.Status" @(Model.Transacao.Status?"checked='true'":"")>
                        <span class="lever"></span>
                        Pago
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat red-text" >Voltar</button>
            <button type="submit" class="modal-action waves-effect waves-green btn-flat bold">Salvar</button>
        </div>
    }
</div>

<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('.datepicker').datepicker();
        
        $('.valorDecimal').mask('000.000.000.000.000,00', { reverse: true });
        
        M.updateTextFields();
        
        $("#form-transacao").submit(async function (e){
            e.preventDefault()
            
            const response = new ViewResponse(await new CustomAjax({
                type: "POST",
                url: "/Transacao/Salvar",
                data: $(this).serializeArray()
            }).Start());
    
            if(response.Status()){
                $(`#modal-adicionar-transacao`).modal('close');
                $("#form-filtro-transacao").submit()
            }else{
                response.Swal()
            }  
        })
      });
</script>