@using DreamsHub.Models
@using DreamsHub.Models.Tipos
@model DreamsHub.ViewModels.TransacaoViewModel

<div class="responsive-table">
    <table class="table invoice-data-table white border-radius-4 pt-1">
        <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>

        @foreach (Transacao item in Model.Transacoes)
        {
            <tr>
                <td>@item.Descricao</td>
                <td>@item.Valor.ToString("C")</td>
                <td>@item.Data.ToString("dd/MM")</td>
                <td>
                    <span class="bullet blue"></span>
                    <span>@item.Categoria.Descricao</span>
                </td>
                <td>
                    @if (item.Status == EStatusTransacao.Efetuado)
                    {
                        <span class="chip lighten-5 green green-text">Efetuado</span>
                    }
                    else if (item.Status == EStatusTransacao.Pendente)
                    {
                        <span class="chip lighten-5 red red-text">Pendente</span>
                    }
                </td>
                <td>
                    <a class="mr-4 blue-text tooltipped button-editar-transacao cursor-pointer" 
                       data-position="top" data-tooltip="Editar" data-codigo="@item.Id">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="mr-4 red-text tooltipped button-deletar-transacao cursor-pointer" 
                       data-position="top" data-tooltip="Excluir" data-codigo="@item.Id">
                        <i class="material-icons">delete_sweep</i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>